body {
	font-family: 'Trebuchet MS', 'lucida grande', verdana, sans-serif; 
}
p {
	padding: 0.3;
	margin:0.3;
}
h1 {
	color: #666;
}
a:link {
	color: #006699;
}

a:visited {
	color: blue;
}

.name{
	font-weight: bold;
}

.layer
{
	position:absolute;
	width:350px;
	font-size: 0.8em;
	left:0;
	top:0;
	visibility:hidden;
	filter: alpha(opacity=90); 
	opacity: .9;
}

.inprogress
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	text-align: center;
	font-size: 0.8em;
	color: black;
	background-color: yellow;
	-moz-border-radius: 0.8em; /* mozilla only */
}

.aborted
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	text-align: center;
	font-size: 0.8em;
	color: black;
	background-color: #FF9B00;
	-moz-border-radius: 0.8em; /* mozilla only */
}

.idle
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 2em;
	padding-left: 2em;
	text-align: center;
	font-size: 0.8em;
	color: black;
	background-color: #ccc;
}
.stable
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 2em;
	padding-left: 2em;
	text-align: center;
	font-size: 0.8em;
	color: white;
	background-color: #00C200;
	-moz-border-radius: 0.8em; /* mozilla only */
}
.broken
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	text-align: center;
	font-size: 0.8em;
	color: white;
	background-color: red;
	-moz-border-radius: 0.8em; /* mozilla only */
}
table
{
	border-spacing: 10px;
}

th 
{ 
	border: solid 1px #ddd; 
	background-color: #fff;
	padding: 1em;
	width : 250px;
}
td 
{ 
	border: solid 1px #ddd; 
	vertical-align: top;
	background-color: #eee;
	width : 250px;
}

.description{
	font-size: 0.5em;
}

.task
{
	left: 5%;
	color: #888;
	padding: 2em; 
	border: solid 1px #eee;
}

.subtask
{
	left: 2%;
	padding: 1em; 
	margin: 1em;
	border: solid 1px #999;
}

.command
{
	position: relative;
	left: 2%;
}

.command_string
{
	position: relative;
	left: 2%;
	font-family: monospace;
	font-size: 1.2em;
	color:maroon;
}

.command_ok
{
	color: green;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2em;
	padding-left: 3em;
}

.command_failure
{
	color: red;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2em;
	padding-left: 3em;
}

.command_inprogress
{
	color: #A8A837;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2em;
	padding-left: 3em;
}

.output
{
	white-space: pre;
	font-family: monospace;
	color: black;
	font-size: 0.9em;
	padding: 2em; 
	border: solid 1px #eee;
	padding: 2em; 
	border: solid 3px red;
	background-color: yellow;
}

.info
{
	white-space: pre;
	font-family: monospace;
	color: blue;
	font-size: 0.9em;
	padding: 2em; 
	border: solid 1px #eee;
}

.about
{
	font-size: 0.7em;
}

.stats
{
	white-space: pre;
	position: relative;
	left: 4%;
	color:#777A7F;
}


.details
{
	white-space: pre;
	font-size: 0.8em;
}

#normal
{
	text-align: left; 
	color: black;
	font-size: 11px;
}

#task
{
	position: relative;
	left: 5%;
	font-weight: bolder; 
}

#subtask
{
	position: relative;
	left: 10%;
	font-weight: bold;
}

#command
{
	position: relative;
	left: 15%;
	color:#43CCCC;
}

#command_ok
{
	color: green;
	font-size: 11px;
}

#command_failure
{
	color: red;
	font-size: 11px;
	
}

#tab
{
	width:20px;
}

	
