
.inprogress
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	text-align: center;
	font-size: 0.8em;
	color: black;
	background-color: yellow;
}

.stable
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 2em;
	padding-left: 2em;
	text-align: center;
	font-size: 0.8em;
	color: white;
	background-color: #00C200;
}
.broken
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.3em;
	text-align: center;
	font-size: 0.8em;
	color: white;
	background-color: red;
}
table
{
	border-spacing: 10px;
}

th 
{ 
	border: solid 1px #ddd; 
	background-color: #fff;
	padding: 1em;
}
td 
{ 
	border: solid 1px #ddd; 
	vertical-align: top;
	background-color: #eee;
}


.repository
{
	left: 5%;
	color: #aaa;
	padding: 2em; 
	border: solid 1px #eee;
}

.task
{
	left: 2%;
	padding: 1em; 
	margin: 1em;
	border: solid 1px #bbb;
}

.command
{
}

.command_string
{
	position: relative;
	left: 2%;
	color:maroon;
}

.command_ok
{
	color: green;
	font-weight: bold;
	padding-left: 3em;
}

.command_failure
{
	color: red;
	font-weight: bold;
	padding-left: 3em;
}

.output
{
	white-space: pre;
}

.info
{
	white-space: pre;
}

.stats
{
	white-space: pre;
	position: relative;
	left: 4%;
	color:#777A7F;
}


.details
{
	white-space: pre;
	font-size: 0.8em;
}

#normal
{
	text-align: left; 
	color: black;
	font-size: 11px;
}

#repository
{
	position: relative;
	left: 5%;
	font-weight: bolder; 
}

#task
{
	position: relative;
	left: 10%;
	font-weight: bold;
}

#command
{
	position: relative;
	left: 15%;
	color:#43CCCC;
}

#command_ok
{
	color: green;
	font-size: 11px;
}

#command_failure
{
	color: red;
	font-size: 11px;
	
}

#tab
{
	width:20px;
}

	
