
.inprogress
{
	margin: 12px;
	text-align: center;
	position : relative;
	left: 40%;
	padding: 10px;
	width: 20%;
	height: 80px;
	font-size: 11px;
	color: black;
	background-color: yellow;
}

.stable
{
	margin: 12px;
	text-align: center;
	position : relative;
	left: 40%;
	padding: 10px;
	width: 20%;
	height: 80px;
	font-size: 11px;
	color: black;
	background-color: green;
}
.broken
{
	margin: 12px;
	text-align: center;
	position : relative;
	left: 40%;
	padding: 10px;
	width: 20%;
	height: 80px;
	font-size: 11px;
	color: black;
	background-color: red;
}

.details
{
	position: relative;
	left: 5%;
	text-align: left;
	font-size: 11px;
}

#normal
{
	text-align: left; 
	color: black;
	font-size: 11px;
}

#repository
{
	position: relative;
	left: 5%;
	font-weight: bolder; 
}

#task
{
	position: relative;
	left: 10%;
	font-weight: bold;
}

#command
{
	position: relative;
	left: 15%;
	color:#43CCCC;
}

#command_ok
{
	color: green;
	font-size: 11px;
}

#command_failure
{
	color: red;
	font-size: 11px;
	
}

#tab
{
	width:20px;
}

	
